button{
    border: none;
    background-color: rgb(131, 125, 125);
    width: 100%;
    height: 100%;
    padding: 10px 0px;
    color: white;
    
}
.bg-1{
    background-color: rgb(131, 125, 125);
}
.bg-2{
    background-color: rgb(173, 158, 158);
}
.bg-2 button{
    background-color:rgb(173, 158, 158) ;
}
button:hover{
    background-color: black;
    color:white ;
}
input{
    text-indent: 100%;
    
}